<a href="https://colab.research.google.com/github/18K41A0544-varshini/NLP/blob/main/keyboardautocorrection2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install textdistance
import pandas as pd
import numpy as np
import textdistance
import re
from collections import Counter
 
words = [] 
 
with open('nlp-autocorrect-data.txt', 'r') as f:
    file_name_data = f.read()
    file_name_data=file_name_data.lower()
    words = re.findall('\w+',file_name_data)
 
# This is our vocabulary
V = set(words)
 
print(f"The first ten words in the text are: \n{words[0:10]}")
print(f"There are {len(V)} unique words in the vocabulary.")

Collecting textdistance
  Downloading textdistance-4.2.2-py3-none-any.whl (28 kB)
Installing collected packages: textdistance
Successfully installed textdistance-4.2.2
The first ten words in the text are:
['the', 'project', 'gutenberg', 'ebook', 'of', 'moby', 'dick', 'or', 'the', 'whale']
There are 17341 unique words in the vocabulary.

In [2]:
word_freq_dict = {}  
word_freq_dict = Counter(words)  
 
print(word_freq_dict.most_common()[0:10])

[('the', 14727), ('of', 6747), ('and', 6515), ('a', 4805), ('to', 4709), ('in', 4245), ('that', 3100), ('it', 2537), ('his', 2532), ('i', 2127)]

In [3]:
probs = {} 
     
Total = sum(word_freq_dict.values())
     
for k in word_freq_dict.keys():
    probs[k] = word_freq_dict[k]/Total

In [4]:
import nltk
nltk.download('wordnet')
from nltk.corpus import wordnet as wn
#synset1.wup_similarity(synset2)

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [5]:
dog=wn.synsets('dog')
cat=wn.synsets('cat')
#print(dog)
dog = wn.synset('dog.n.01')
cat = wn.synset('cat.n.01')
wn.path_similarity(dog,cat)

0.2

In [6]:
from nltk.corpus import wordnet
 
syn1 = wordnet.synsets('necessary')[0]
print(syn1)
syn2 = wordnet.synsets('responsibility')[0]
print(syn2)
syn1.wup_similarity(syn2)

Synset('necessity.n.02')
Synset('duty.n.01')

0.18181818181818182

In [7]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [15]:
def my_autocorrect(input_word):
    #print(input_word)
    #syn1 = wordnet.synsets(input_word)[0]   
    #syn11.append(syn1)
    #print(syn1)
    input_word = input_word.lower()
    
    if input_word in V:
        return('Your word seems to be correct')
    #else:
     #   for v in word_freq_dict.keys():
          #print("v",v)
      #    if v!='the':
       #     print(v)
        #    syn2 = wordnet.synsets(v)[0]
          #syn21.append(syn2)
         #   print("syn2:",syn2)
          #similarities=syn11.wup_similarity(syn21)
            #similarities=wn.path_similarity(syn1,syn2)
    else:
      similarities = [1-(textdistance.Jaccard(qval=2).distance(v,input_word)) for v in word_freq_dict.keys()]

        #similarities = [wn.path_similarity(input_word,v) for v in word_freq_dict.keys()]
           #similarities= input_word.wup_similarity(v)
           #syn1.wup_similarity(syn2)
           #similarities= wn.path_similarity(input_word,v)
      df = pd.DataFrame.from_dict(probs, orient='index').reset_index()
      df = df.rename(columns={'index':'Word', 0:'Prob'})
      df['Similarity'] = similarities
      output = df.sort_values(['Similarity', 'Prob'], ascending=False).head()
      return(output)

In [16]:
my_autocorrect('neve')

         Word      Prob  Similarity
1098    never  0.000925    0.750000
4257      eve  0.000018    0.666667
15893  uneven  0.000004    0.600000
477      ever  0.000925    0.500000
648      even  0.000867    0.500000

In [17]:
my_autocorrect('nesseccary')

              Word      Prob  Similarity
6767     necessary  0.000031    0.545455
4354   unnecessary  0.000027    0.461538
14177     caressed  0.000004    0.454545
2097        seneca  0.000004    0.400000
16795       caress  0.000004    0.400000

In [18]:
my_autocorrect('ser')

        Word      Prob  Similarity
17222   user  0.000013    0.666667
10851   seer  0.000009    0.666667
1256      er  0.000031    0.500000
8043   serve  0.000027    0.500000
14938  miser  0.000009    0.500000